RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.360-supports.com/$1 [R,L]




RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule (.*) https://<common_name>%{REQUEST_URI}